    <form id="frmUploader" enctype="multipart/form-data" action="/apartments/<%= apartment.id %>/photos" method="post">
        <input type="file" name="imgUploader" multiple class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" />
        <input type="submit" name="submit" id="btnSubmit" value="Upload"  class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" />
    </form>
 